name: Build and Test

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Install Python dependencies
        run: pip install pandas scikit-learn joblib skl2onnx

      - name: Train trust model
        run: python ./safecart/model/trust_model_logistic_regression.py

      - name: Export pipeline to ONNX
        run: python ./safecart/model/export_pipeline_onnx.py

      - name: Install dependencies
        run: npm ci

      - name: Type check
        run: npx tsc --noEmit

      - name: Run tests
        run: npm run test